body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    background-color: #f6f6f6;
    font: 16px/1.25 PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #000000;
}
.mui-bar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    padding: 0;
}
.mui-bar .mui-segmented-control{
    margin: 0 88px 0 5px;
    top: 0;
}
.mui-segmented-control.mui-segmented-control-inverted{
    width: 321px;
}
.mui-segmented-control.mui-scroll-wrapper{
    height:44px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll{
    height: 44px;
}
.mui-scroll{
    margin: 0 auto;
    overflow: hidden;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
    width: auto;
    height: 44px;
    line-height: 44px;
    position: relative;
    padding: 0 11px 0 10px;
    font-size: 14px;
    color: #333;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item i{
    display: block;
    width: 1px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item b{
    display: none;
    width: auto;
    height: 2px;
    background: #ff165b;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 10px;
    right: 11px;
    bottom: 6px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item.on b{
    display: block;
}
.headopera {
    width: 60px;
    height: 44px;
    position: absolute;
    right: 14px;
    top: 0;
    z-index: 2;
}
.headsearch {
    width: 30px;
    height: 44px;
    float: left;
}
.headsearch a {
    display: block;
    width: auto;
    height: 44px;
    background-size: 15px 15px;
}
.headmenu {
    width: 30px;
    height: 44px;
    float: left;
}
.headmenu a {
    display: block;
    width: auto;
    height: 44px;
    background-size: 15px 15px;
}
.mui-bar-tab{
    bottom:0;
    top:auto;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #ff0757;
}
.mui-bar-tab .mui-tab-item.mui-active .mui-tab-label{
    color: #ff0757;
}
.mui-bar-tab .mui-tab-item span{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.mui-bar-tab .mui-tab-item .icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../images/footer.png);
    background-size: 100px 40px;
}
.mui-bar-tab .mui-tab-item .mui-tab-label{
    font-size: 10px;
    color: #666666;
    padding-top: 5px;
}
.mui-bar-tab .mui-tab-item.mui-active .ico1{
    background-position: 0px -20px;
}
.mui-bar-tab .mui-tab-item .ico2{
    background-position: -20px 0px;
}
.mui-bar-tab .mui-tab-item .ico3{
    background-position: -40px 0px;
}
.mui-bar-tab .mui-tab-item .ico4{
    background-position: -60px 0px;
}
.mui-bar-tab .mui-tab-item .ico5{
    background-position: -80px 0px;
}
.wrapper{
    width: auto;
    height: auto;
    padding: 44px 0 44px 0;
}
.tabs{
    width: auto;
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.tabs li{
    width: 33.333%;
    height: 40px;
    float: left;
}
.tabs li a{
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    text-align: center;
    position: relative;
}
.tabs li a.on{
    color: #333333;
    background: #eeeeee;
}
.tabs li a span{
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat right center;
    background-size: 15px 15px;
    padding-right: 25px;
}
.finecourse-list{
    width:auto;
    height:auto;
}
.finecourse-list .finecourse{
    width: auto;
    height: auto;
    background: #fff;
    margin-bottom: 10px;
}
.finecourse-list .finecourse:last-child{
    margin-bottom: 0;
}
.finecourse-list .finecourse .wen{
    width: auto;
    height: auto;
    font-size: 0;
    padding: 10px 0;
}
.finecourse-list .finecourse .wen a{
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 0;
    border-left: 2px solid #f54744;
    padding-left: 12px;
}
.finecourse-list .finecourse .wen a span{
    display: inline-block;
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    padding-right: 20px;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
}
.finecourse-list .finecourse .tu{
    width: auto;
    height: auto;
    font-size: 0;
}
.finecourse-list .finecourse .tu a{
    display: block;
}
.finecourse-list .finecourse .tu img{
    width: 100%;
}.siwt{
     width: auto;
     height: 34px;
     padding: 5px 0;
 }
.siwt ul li{
    width: 25%;
    height: 24px;
    float: left;
}
.siwt ul li a{
    display: block;
    width: auto;
    height: 24px;
    background: url(../images/borgrayr.png) repeat-y right;
    background-size: 1px 1px;
    text-align: center;
    font-size: 0;
}
.siwt ul li .ji.on .juti{
    color: #ff0757;
}
.siwt ul li a .juti{
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    padding-left: 18px;
    margin: 0;
}
.siwt ul li a .juti span{
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background-image: url(../images/inopera.png);
    background-repeat: no-repeat;
    background-size: 48px 24px;
}
.siwt ul li a .juti span.ico1{
    background-position: 0px 0px;
}
.siwt ul li a .juti span.ico2{
    background-position: -12px 0px;
}
.siwt ul li a .juti span.ico3{
    background-position: -24px 0px;
}
.siwt ul li a .juti span.ico4{
    background-position: -36px 0px;
}
.siwt ul li .ji.on .juti .ico2{
    background-position: -12px -12px;
}
.siwt ul li .ji.on .juti .ico3{
    background-position: -24px -12px;
}
.fenxiang{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}
.fenxiang span{
    display: block;
    width: auto;
    height: auto;
    text-align: right;
    font-size: 0;
    padding: 20px;
}
.fenxiang span img{
    width: 140px;
}
.sangang{
    width: auto;
    height: auto;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    display: none;
}
.sangang .guanbi{
    width: 44px;
    height: 44px;
    background: #fff;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
}
.sangang .shaixuan{
    width: 100%;
    height: 44px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    color: #333;
    display: none;
}
.sangang .guanbi a{
    display: block;
    width: 44px;
    height: 44px;
    background: url(../images/open-close.png) no-repeat center;
    background-size: 15px 15px;
    margin-left: 2px;
}
.sangang .sgnei{
    width: auto;
    height: auto;
    padding-top: 44px;
}
.sangang .sgnei .junei{
    width: auto;
    height: auto;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
    padding-bottom: 14px;
}
.sangang .sgnei .junei .wen{
    width: auto;
    height: auto;
    font-size: 0;
    padding-top: 14px;
}
.sangang .sgnei .junei .wen a{
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 0;
    border-left: 2px solid #f54744;
    padding-left: 12px;
}
.sangang .sgnei .junei .wen a span{
    display: inline-block;
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #666666;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 20px;
}
.sangang .sgnei .junei .pai{
    width: auto;
    height: auto;
}
.sangang .sgnei .junei .pai ul{
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 0 7px 0 7px;
}
.sangang .sgnei .junei .pai ul li{
    width: 33.333%;
    height: auto;
    float: left;
    padding: 14px 7px 0 7px;
}
.sangang .sgnei .junei .pai ul li a{
    display: block;
    width: auto;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 28px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.mui-bar-tab{
    bottom:0;
    width: 100%;
    height: 50px;
    box-shadow: none;
    background: url(../images/borgrayt.png) repeat-x top #fff;
    background-size: 1px 1px;
    position: fixed;
    left: 0;
    z-index: 999;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #ff0757;
}
.mui-bar-tab .mui-tab-item.mui-active .mui-tab-label{
    color: #ff0757;
}
.mui-bar-tab .mui-tab-item span{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.mui-bar-tab .mui-tab-item .icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../images/footer.png);
    background-size: 100px 40px;
}
.mui-bar-tab .mui-tab-item .mui-tab-label{
    font-size: 10px;
    color: #666666;
    padding-top: 5px;
}
.mui-bar-tab .mui-tab-item.mui-active .ico1{
    background-position: 0px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .ico2{
    background-position: -20px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .ico3{
    background-position: -40px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .ico4{
    background-position: -60px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .ico5{
    background-position: -80px -20px;
}
.mui-bar-tab .mui-tab-item .ico1{
    background-position: 0px 0px;
}
.mui-bar-tab .mui-tab-item .ico2{
    background-position: -20px 0px;
}
.mui-bar-tab .mui-tab-item .ico3{
    background-position: -40px 0px;
}
.mui-bar-tab .mui-tab-item .ico4{
    background-position: -60px 0px;
}
.mui-bar-tab .mui-tab-item .ico5{
    background-position: -80px 0px;
}

















