a{
	color:#000000;
}
body{
	line-height: none;
}
.clearpor{
	position: static;
	/*height: 10000px;*/
}
.scroll{
	width:81%!important;
}
.mui-bar .mui-segmented-control{
	top: 4px;
}
.mui-bar-nav.mui-bar .mui-icon{
	margin-right: -5px;
}
.mui-active{
	border:none!important;
	color: #333333;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #333;
	border-bottom: 2px solid #ff165b;
}
.slide a{
	display: block;
    width: auto;
    height: 42px;
    line-height: 42px;
    position: relative;
    padding: 0 11px 0 10px;
    font-size: 14px;
    color: #333;
}
.slide a i{
	display: block;
    width: 1px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
}
.slide a b{
	display: none;
    width: auto;
    height: 2px;
    background: #ff165b;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 10px;
    right: 11px;
    bottom: 6px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
	padding: 0 9px;
}
.mui-bar-tab .mui-tab-item .mui-icon{
	width: 20px;
	height: 20px;
	background:url(../images/footer.png) no-repeat;
	-webkit-background-size: 100px 40px;
	background-size: 100px 40px;
}
.mui-bar-tab .mui-tab-item .icon1{
	background-position: 0 0;
}
.mui-bar-tab .mui-tab-item .on{
	background-position: 0 -20px;
}
.mui-bar-tab .mui-tab-item .icon2{
	background-position: -20px 0;
}
.mui-bar-tab .mui-tab-item .icon3{
	background-position: -40px 0;
}
.mui-bar-tab .mui-tab-item .icon4{
	background-position: -60px 0;
}
.mui-bar-tab .mui-tab-item .icon5{
	background-position: -80px 0;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: #ff0757;
}
.mui-bar{
	position: fixed;
}
.tui{
	background-color: #fff;
	padding-top: 10px;
}
li{
	list-style: none;
}
.tui .con{
	width: auto;
    height: auto;
    padding: 11px;
    overflow: hidden;
}
.tui .col{
	width: 25%;
	float: left;
}
.tui .col li{
	width: 100%;
    height: auto;
    float: left;
    padding: 4px;
    
}
.tui .col li a{
	display: block;
    width: auto;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    padding-top: 10px;	
}
.tui .col li a span{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.tui .col li a span.img1{
	width: 22px;
	height: 22px;
	text-align: center;
	
}
.tui .col li a span.img1 img{
	width: 22px;
	height: 22px;
	vertical-align: middle;
}
.tui .col li a span.text{
	width: auto;
    height: auto;
    font-size: 12px;
    color: #666;
    padding-top: 8px;
}
.main{
	background-color: #fff;
	margin-top: 10px;
}
.main li a{
	text-align: center;
}
.main .item{
	width: auto;
	height: auto;
	margin-bottom: 5px;
	overflow: hidden;
}
.main .item .tit{
	width: auto;
    height: auto;
    margin: 0 15px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .item .img{
	width: auto;
    height: auto;
    font-size: 0;
    padding-top: 10px;
	line-height: 0;
}
.main .item .img a{
	display: block;
    width: auto;
    height: auto;
}
.main .item .img img{
	width: 100%;
}
.main .item .bot{
	width: 100%;
	height: 100%;
	padding: 5px 0;
	margin: 0;
	overflow:hidden;
}
.main .item .bot ul{
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.main .item .bot ul li{
	width: 25%;
    height: 24px;
    float: left;
}
.main .item .bot ul li a{
	display: block;
    width: auto;
    height: 24px;
    background: url(../images/borgrayr.png) repeat-y right;
    -webkit-background-size: 1px 1px;
    background-size: 1px 1px;
    text-align: center;
    
}
.main .item .bot ul li .fen{
	display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    padding-left: 18px;
    margin: 0;
}
.main .item .bot ul li .fen span{
	display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    background-size: 48px 24px;
}
.main .item .bot ul li .fen span.ico1{
	background-position: 0 0;
}
.main .item .bot ul li .fen span.ico2{
	background-position:-12px 0;
}
.main .item .bot ul li .fen span.ico3{
	background-position: -24px 0;
}
.main .item .bot ul li .fen span.ico4{
	background-position: -36px 0;
}
.news{
	overflow: hidden;
	background-color: #fff;
	
}
.news .padd{
	width: 126px!important;
	/*margin-left: 15px;*/
	/*float: left;*/
	/*margin-right: 15px;*/
	overflow: hidden;
	padding: 0 9px;
}
.news .padd a{
	display: block;
	width: auto;
	height: auto;
}
.news .padd .img{
	width: auto;
	height: auto;
	font-size: 0;
}
.news .padd .img img{
	width: 100%;
	border-radius: 5px;
	vertical-align: middle;
}
.news .padd .tit{
	width: auto;
    line-height: 1.3em;
    font-size: 12px;
    color: #333;
    margin-top: 8px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: left;
}
.news .padd .text{
	width: auto;
    height: auto;
    font-size: 10px;
    color: #999999;
    line-height: 10px;
    text-align: left;
}
.main2{
	background-color: #fff;
	margin-top: 10px;
}
.main2 .mui-row{
	text-align: center;
}
.main2 .outline{
	width: auto;
	height: auto;
	padding-bottom: 15px;
}
.main2 .outline .swiper-slide:first-child{
	margin-left: 10px;
}
.main2 .outline{
	overflow: hidden;
}
.main2 .outline .swiper-slide{
	width: 52px;
	height: auto;
	float: left;
	margin-right: 10px;
}
.main2 .outline .swiper-slide a{
	display: block;
	width: auto;
	height: auto;
}
.main2 .outline .swiper-slide a .img{
	width: 42px;
    height: 42px;
    font-size: 0;
    position: relative;
    margin: 0 auto;
}
.main2 .outline .swiper-slide a .img i{
	width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #fff;
    font-style: normal;
}
.main2 .outline .swiper-slide a .img i.num1{
	background-color: red;
}
.main2 .outline .swiper-slide a .img i.num2{
	background-color: #ff9900;
}
.main2 .outline .swiper-slide a .img i.num3{
	background-color: #ffcc00;
}
.main2 .outline .swiper-slide a .img img{
	width: 42px;
    height: 42px;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 0px;
    line-height: 0px;
    max-width: 100%;
}
.main2 .outline .swiper-slide a .text{
	width: auto;
    height: auto;
    text-align: center;
    font-size: 9px;
    color: #666;
    padding-top: 8px;
}
.into{
	width: auto;
	height: auto;
	padding: 15px 0;
	border-top: 5px solid #f6f6f6;
	background-color: #fff;
}
.into img{
	max-width: 100%;
}
.carousel3{
	margin-top: 10px;
	background-color: #fff;
}
.carousel3 .mui-row{
	text-align: center;
}
.car{
	width: auto;
    height: auto;
    padding-bottom: 40px;
    position: relative;
    /*overflow: hidden;*/
}
.car .swiper-container{
	margin: 0 auto;
	width: calc(100% - 30px);
}
.car .swiper-container .swiper-slide{
	width: 92%;
	margin-right: 5px;
	position: relative;
	left: -1%;
	transform: translate(5%);
}
.car .swiper-container .swiper-slide .img{
	width: auto;
	height: auto;
}
.car .swiper-container .swiper-slide .img a{
	display: block;
}
.car .swiper-container .swiper-slide .img img{
	width: 100%;
	border-radius: 5px;
	max-width: 100%;
}
.car .swiper-container .swiper-slide .txt{
	width: auto;
	height: auto;
	text-align: center;
	padding-top: 10px;
	font-size: 14px;
}
.car .swiper-container .swiper-slide .txt a{
	color: #333;
}
.car .swiper-container .swiper-slide .di{
	width: auto;
	height: 20px;
	text-align: center;
}
.car .swiper-container .swiper-slide .di span{
	display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #999;
    padding-left: 18px;
    margin-right: 20px;
    position: relative;
}
.car .swiper-container .swiper-slide .di span i{
	display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    -webkit-background-size: 48px 24px;
    background-size: 48px ;
}
.car .swiper-container .swiper-slide .di span i.ico2{
	background-position: -12px 0;
}
.car .swiper-container .swiper-slide .di span i.ico3{
	background-position: -24px 0;
}
.swiper-pagination-bullets{
	width: 100%;
	bottom: 15px;
}
.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0 3px;
	background-color: #8d9192;
	opacity: 1;
	border: 2px solid #fff;
}
.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color: #f54744;
	border-color: #F54744;
}
.about{
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 50px;
}
.about .mui-row{
	text-align: center;
}
.about .inner{
	margin-left: -41px;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 0 7px 15px 7px;
}
.about .inner ul li{
	width: 50%;
	height: auto;
	float: left;
	padding: 0 7px;
}
.about .inner ul li a{
	display: block;
}
.about .inner ul li .img{
	width: auto;
	height: auto;
}
.about .inner ul li .img img{
	width: 100%;
	border-radius: 5px;
}
.about .inner ul li .text{
	text-align: center;
	padding-top: 15px;
    font-size: 14px;
    color: #333;
}
