.newscon{
    width: auto;
    height: auto;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.newscon .nc-title{
    width: auto;
    height: auto;
    padding: 20px 15px 0 15px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.newscon .nc-xin{
    width: auto;
    height: auto;
    margin: 15px 15px 0 15px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px 15px 10px 45px;
    font-size: 12px;
    color: #666;
    line-height: 1.6em;
    background-image: url(../images/icon-intro.png);
    background-repeat: no-repeat;
    background-size: 17px 13px;
    background-position: 15px 15px;
}
.newscon .nc-mian{
    width: auto;
    height: auto;
    font-size: 13px;
    color: #999999;
    line-height: 1.6em;
}
.newscon .nc-mian .wen{
    width: auto;
    height: auto;
    padding: 15px;
    text-align: justify;
}
.newscon .nc-mian .shipin{
    width: auto;
    height: auto;
    font-size: 0;
    line-height: 0;
}
.newscon .nc-mian .shipin a{
    display: block;
    width: auto;
    height: auto;
    position: relative;
}
.newscon .nc-mian .shipin a .bo{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background: url(../images/video-play.png) no-repeat;
    background-size: 40px 40px;
    z-index: 2;
}
.newscon .nc-mian img{
    width: 100%;
}
.newscon .nc-mian .img.img1{
    padding: 0 15px;
}
.newscon .nc-mian .img{
    width: auto;
    height: auto;
    font-size: 0;
    line-height: 0;
}
.pinglun{
    width: auto;
    height: auto;
    background: #fff;
}
.pinglun .pinglun-head{
    width: auto;
    height: 44px;
    padding: 0 15px;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.pinglun .pinglun-head .name{
    width: auto;
    height: 44px;
    line-height: 44px;
    float: left;
    font-size: 12px;
    color: #333;
}
.pinglun .pinglun-head .more{
    width: auto;
    height: 44px;
    float: right;
}
.pinglun .pinglun-head .more a{
    display: block;
    width: auto;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #999;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 10px;
}
.pinglun .pinglun-shen{
    width: auto;
    height: auto;
    background: #fff;
}
.pinglun .pinglun-shen .shen{
    width: auto;
    height: auto;
    padding-left: 55px;
    position: relative;
}
.pinglun .pinglun-shen .shen .touxiang{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.pinglun .pinglun-shen .shen .touxiang img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.pinglun .pinglun-shen .shen .box{
    width: auto;
    height: auto;
    min-height: 60px;
    padding: 15px 15px 15px 0;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.pinglun .pinglun-shen .shen .box .name{
    width: auto;
    height: auto;
    font-size: 10px;
    color: #333;
}
.pinglun .pinglun-shen .shen .box .name a{
    color: #333;
}
.pinglun .pinglun-shen .shen .box .hua{
    width: auto;
    height: auto;
    padding-top: 5px;
    position: relative;
}
.pinglun .pinglun-shen .shen .box .hua .wen{
    width: auto;
    height: auto;
    font-size: 12px;
    color: #333;
    line-height: 18px;
    margin-right: 75px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju{
    width: auto;
    height: 36px;
    position: absolute;
    right: 0;
    top: -5px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .zan{
    width: auto;
    height: 36px;
    float: left;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .zan a{
    display: block;
    width: auto;
    height: 36px;
    line-height: 36px;
    position: relative;
    font-size: 12px;
    color: #999999;
    padding-left: 18px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .zan a.on{
    color: #ff0757;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .zan a.on i{
    background-position: -24px -12px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .zan a i{
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background-image: url(../images/inopera.png);
    background-repeat: no-repeat;
    background-size: 48px 24px;
    background-position: -24px 0px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao{
    width: auto;
    height: 36px;
    float: left;
    position: relative;
    margin-left: 5px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .icon{
    width: auto;
    height: 36px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .icon a{
    display: block;
    width: auto;
    height: 36px;
    background: url(../images/icon-other.png) no-repeat right center;
    background-size: 3px 12px;
    padding-left: 10px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb{
    width: 44px;
    height: auto;
    position: absolute;
    right: -10px;
    top: 44px;
    background: #f0f0f0;
    border-radius: 3px;
    display: none;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb i{
    display: block;
    width: 8px;
    height: 8px;
    background: #f0f0f0;
    position: absolute;
    top: -4px;
    right: 8px;
    -webkit-transform: rotate(45deg);
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb ul{
    display: block;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
    padding: 0 5px;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb ul li{
    width: auto;
    height: auto;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb ul li:last-child{
    background: none;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb ul li a{
    display: block;
    width: auto;
    height: auto;
    font-size: 12px;
    color: #666;
    line-height: 12px;
    padding: 6px 0;
    text-align: center;
}
.pinglun .pinglun-shen .shen .box .hua .zanju .jubao .jb ul li a.red{
    color: #ff5500;
}
.pinglun .pinglun-shen .shen .box .shijian{
    width: auto;
    height: auto;
    padding-top: 5px;
    font-size: 10px;
    color: #999;
}
.pinglun .pinglun-shen .shen .box .shijian a{
    color: #999;
    position: relative;
    margin-left: 6px;
    padding-left: 8px;
}
.pinglun .pinglun-shen .shen .box .shijian a i{
    display: block;
    width: 2px;
    height: 2px;
    background: #999;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}
.pinglun .pinglun-shen .shen .box .quanbu{
    width: auto;
    height: auto;
    padding-top: 10px;
}
.pinglun .pinglun-shen .shen .box .quanbu a{
    display: block;
    width: auto;
    height: auto;
    background: #f9f9f9;
    border-radius: 5px;
    font-size: 10px;
    color: #666666;
    padding: 0 10px;
}
.pinglun .pinglun-shen .shen .box .quanbu a span{
    display: inline-block;
    padding: 6px 0;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 10px;
    line-height: 12px;
}
.pinglun .pinglun-shen .shen .box .huifu{
    width: auto;
    height: auto;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    background-image: url(../images/discuss-reply.png);
    background-repeat: no-repeat;
    background-size: 12px 11px;
    background-position: 12px 11px;
    padding-left: 33px;
}
.pinglun .pinglun-shen .shen .box .huifu ul li{
    width: auto;
    height: auto;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.pinglun .pinglun-shen .shen .box .huifu ul li .hfbox{
    width: auto;
    height: auto;
    padding: 10px 0;
}
.pinglun .pinglun-shen .shen .box .huifu ul li .hfbox .hfname{
    width: auto;
    height: auto;
    line-height: 12px;
    position: relative;
    font-size: 10px;
    color: #333333;
}
.pinglun .pinglun-shen .shen .box .huifu ul li .hfbox .hfname a{
    color: #3d6fce;
}
.pinglun .pinglun-shen .shen .box .huifu ul li .hfbox .hfname .time{
    display: block;
    width: auto;
    height: 12px;
    line-height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    color: #999;
}
.pinglun .pinglun-shen .shen .box .huifu ul li .hfbox .hftext{
    width: auto;
    height: auto;
    font-size: 10px;
    color: #333333;
    padding-top: 5px;
}
.foot{
    width: 100%;
    height: 50px;
    background: url(../images/borgrayt.png) repeat-x top #f6f6f6;
    background-size: 1px 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 6px 76px 6px 6px;
}
.foot span.icon {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 2;
    background: url(../images/icon-edit.png) no-repeat center;
    background-size: 18px 18px;
}
.foot input.inp {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #333;
    line-height: 16px;
    padding: 10px 10px 10px 38px;
}























