
/*menu start*/
.menu{
	background-color: #fff;
	overflow: hidden;
	height: 40px;
	border-bottom: 1px solid #eee;
}
.menu ul li{
	float: left;
	width: 33.33%;
	height: 40px;
}
.menu ul li a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	position: relative;
	color: #666;
	vertical-align: middle;
}
.menu ul li a.cur{
	color: #333;
	background-color: #eee;
}
.menu ul li a i{
	display: inline-block;
	font-style: normal;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat center right;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
    padding-right: 25px;
}
/*menu end*/
/*内容开始*/
.con1{
	overflow: hidden;
}
.con1 .wang{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 10px;
}
.con1 .wang .title{
	width: auto;
	height: auto;
	padding: 10px 0;
}
.con1 .wang .title a{
	padding-left: 12px;
	border-left: 2px solid #CF000F;
}
.con1 .wang .title a span{
	display: inline-block;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #333;
	padding-right: 20px;
	background: url(../images/inmore.png) no-repeat center right;
	-webkit-background-size: 5px 10px;
	background-size: ;
}
.con1 .wang .main{
	width: auto;
	height: auto;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 15px 15px 15px;
}
.con1 .wang .main .img{
	width: 120px;
	height: 120px;
}
.con1 .wang .main img{
	width: 120px;
	height: 120px;
	border-radius: 5px;
}
.con1 .wang .main .text{
	margin-left: 15px;
}
.con1 .wang .main .text .tit{
	font-size: 14px;
	color: #333;
}
.con1 .wang .main .text .cen{
	font-size: 12px;
	color: #999;
	padding-top: 8px;
}
.con1 .wang .main .text .bot{
	font-size: 12px;
	padding-top: 8px;
	color: #666;
}
.con1 .wang:last-child{
	margin-bottom: 50px;
}
/*内容结束*/
